<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Task addition</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/myCss.css}">
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>

<div th:fragment="add-task-form"
     class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="addTask"
     aria-labelledby="addTaskLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="addTaskLabel">Add task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form class="row g-3" method="post">
            <div class="col-auto">
                <label for="taskDescription" class="form-label ps-2">Task Description (15 characters
                    minimum)</label>
                <textarea th:name="'description'" class="form-control" id="taskDescription" maxlength="255"
                          minlength="15"
                          placeholder="Describe task here"
                          style="min-width: 300px"></textarea>
            </div>
            <div class="col-auto">
                <label for="taskPriority" class="form-label ps-2">Task Priority (lower - more valuable)</label>
                <select id="taskPriority" class="form-select" th:name="'priority'">
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="col-auto">
                <label for="taskDifficulty" class="form-label ps-2">Difficulty (not required)</label>
                <select id="taskDifficulty" class="form-select" th:name="'difficulty'">
                    <option selected th:default="null" th:placeholder="'Open menu'"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="8">8</option>
                    <option value="10">10</option>
                    <option value="13">13</option>
                </select>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>


<button th:fragment="add-task-button"
        class="btn btn-primary w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#addTask"
        aria-controls="addTask">Add New Task
</button>

</body>
</html>