<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">
<head>
    <title>Complex Navbar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"/>

    <link rel="shortcut icon" href="#">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/myCss.css">
</head>
<body>

<nav th:fragment="navbar"
     class="navbar navbar-expand-lg border-bottom border-secondary sticky-top bg-body">
    <div class="container-fluid">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" style="width: 100px;">
                    <a class="nav-link" th:href="@{/api/v1/more}">Learn more</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/v1/about}">
                        About
                    </a>
                </li>
                <li class="nav-item dropdown w-50 mb-1"
                    sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Menu
                    </a>
                    <ul class="dropdown-menu">
                        <!-- TODO remade this link on "team page" -->
                        <li><a class="dropdown-item" th:href="@{/api/v1/more}">How it works</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" th:href="@{/api/v1/config/project}">Project page</a></li>
                        <li><a class="dropdown-item" th:href="@{/api/v1/task/personal}">Personal tasks</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <a class="navbar-brand text-info fw-bold me-auto" th:href="@{/api/v1}"
           style="text-shadow: 1px 1px #0d8ca8;">SCRUM board</a>
        <div class="ms-auto order-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="me-4">
                    <a class="text-decoration-none"
                       href="https://www.linkedin.com/in/nazar-krylov-1ba795236/">
                        <img class="pb-1" src="/images/linkedin.svg" alt="LinkedIn svg"/>
                        <p class="ms-2 pt-1 icon-text text-dark">LinkedIn</p>
                    </a>
                </li>
                <li class="me-4">
                    <a class="text-decoration-none"
                       href="https://t.me/HoldingSky">
                        <img class="pb-1" src="/images/telegram.svg" alt="Telegram svg"/>
                        <p class="ms-2 pt-1 icon-text text-dark">Telegram</p>
                    </a>
                </li>
                <li class="me-4">
                    <a class="text-decoration-none"
                       href="https://github.com/HoldinSky/scrum-board">
                        <img class="pb-1" src="/images/github.svg" alt="Github svg"/>
                        <p class="ms-2 pt-1 icon-text text-dark">GitHub</p>
                    </a>
                </li>
                <li class="me-4">
                    <a class="text-decoration-none"
                       href="mailto:nazar.luv2code@gmail.com">
                        <img class="pb-1" src="/images/envelope.svg"
                             alt="Mailto svg" title="nazar.luv2code@gmail.com"/>
                        <p class="ms-2 pt-1 icon-text text-dark">nazar.luv2code@gmail.com</p>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-lg-5">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/api/v1/auth/logout}" th:action="post">Logout</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="btn btn-primary" th:href="@{/api/v1/authenticate}">Log in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous">
</script>

</body>
</html>