<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Complex Navbar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/myCss.css}">
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>

<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg border-bottom border-secondary sticky-top bg-body">
        <div class="container-fluid">
            <a class="navbar-brand text-info fw-bold" th:href="@{/api/v1/landing/main}"
               style="text-shadow: 1px 1px #0d8ca8;">SCRUM Board</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a role="button" class="btn text-nowrap fw-bold text-warning"
                           th:href="@{/api/v1/landing}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a role="button" class="btn text-nowrap" data-bs-toggle="modal" data-bs-target="#aboutModal">
                            About
                        </a>
                    </li>
                    <li>
                        <a role="button" class="btn text-nowrap" data-bs-toggle="modal" data-bs-target="#contactModal">
                            Contacts
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="aboutModalLabel">About this project</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="fw-medium fs-5 mx-4 px-4 text-break">
                            <p>
                                This web-service was created as a pet-project for sharpening programming skills
                                and familiarization with opportunities of Spring Framework.
                            </p>
                            <p>
                                However the goal of this application is to simplify and improve future workflow.
                                Inspiration was found in the <i>Jeff Sutherland's</i> book called <i>SCRUM</i> in which
                                author describes the methodology for progressive and constantly improving workflow. As far
                                as You
                                could
                                already understand <i>SCRUM board</i> is one of the tools of methodology.
                            </p>
                            <p>
                                <a href="https://github.com/HoldinSky/scrum-board" title="GitHub" class="link-primary">This
                                    link</a>
                                leads to the <i>GitHub</i> repository of the project. Moreover, if You have any suggestions
                                on improving user experience You may contact me via any convenient way described in the <b>Contacts</b> section.
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="contactModalLabel">Contacts</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="fw-medium fs-5 mx-4 px-4 text-break">
                            <p>
                                <b>Nazar Krylov</b>
                            </p>
                            <p>
                                Mail me at <a href="mailto:nazar.luv2code@gmail.com">nazar.luv2code@gmail.com</a>
                            </p>
                            <p>
                                Connect me via <a href="https://www.linkedin.com/in/nazar-krylov-1ba795236/"><i>LinkedIn</i></a>
                            </p>
                            <p>
                                Message me via <a href="https://t.me/HoldingSky"><i>Telegram</i></a>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>