<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Project Main</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"/>

    <link rel="shortcut icon" href="#">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/myCss.css}">

</head>
<body class="bg-body">

<!-- Navbar -->
<div th:insert="~{_nav-file :: navbar}"></div>

<!-- Body -->
<div class="container-lg px-4">

    <!-- Configuring project -->
    <div class="offcanvas offcanvas-end" data-bs-backdrop="true" tabindex="-1" id="createProjectOffcanvas"
         aria-labelledby="createProjectOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="createProjectOffcanvasLabel">Project settings</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form class="row g-3" method="post">
                <div class="col-auto">
                    <p class="text-danger">Required fields marked with asterisk *</p>
                </div>
                <div class="col-auto">
                    <label for="projectName" class="form-label ps-2">
                        <span class="text-danger">*</span> Project name</label>
                    <textarea th:name="'projectName'" class="form-control" id="projectName" maxlength="255"
                              placeholder="Name Your project here"
                              style="min-width: 300px"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="text-center fw-bold fs-1 my-md-3 my-2">
        <p class="pt-1" id="pageTitle" style="color: var(--bs-cyan); text-shadow: 1px 1px #0d8ca8;">
            Project Main Page</p>
    </div>
    <div class="d-grid gap-2 mb-3 px-2">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#createProjectOffcanvas"
                aria-controls="createProjectOffcanvas">Create New Project
        </button>
    </div>
    <div th:if="${projects.size()} == 0"
         class="text-center text-decoration-underline fw-medium fs-3 p-2"
         style="color: var(--bs-yellow); text-shadow: 1px 1px #a67d06;">
        <p>
            You do not have any projects yet. Please proceed to creating one.
        </p>
    </div>

    <div th:if="${projects.size()} != 0"
         class="px-2">
        <table class="table table-hover">
            <thead class="mb-2">
            <tr>
                <th scope="col" class="text-center">Id</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center">Info</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${projects}" class="mb-2">
                <td class="text-center fw-bold w-10" th:text="${project.id}"></td>
                <td class="text-center w-50" th:text="${project.name}"></td>
                <td class="text-center w-25" th:text="${project.status.name}"></td>
                <td class="text-center w-15">
                    <a class="btn btn-outline-dark"
                       th:href="@{/api/v1/project/__${project.id}__}">More</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous">
</script>

</body>
</html>