<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Scrum Board</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <!--    <script src="/js/jquery-3.6.0.js"></script>-->
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body class="bg-body">
<nav class="navbar navbar-expand-lg border-bottom border-secondary">
    <div class="container-fluid">
        <a class="navbar-brand text-info fw-bold" href="http://localhost:8080/api/v1/board" style="text-shadow: 1px 1px #0d8ca8;">SCRUM Board</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="http://localhost:8080/api/v1">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<p class="fs-2 fw-semibold text-danger text-center m-3">This is my scrum-board page</p>
</body>
</html>