<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Scrum Board</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"/>

    <link rel="shortcut icon" href="#">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/myCss.css}">

</head>
<body class="bg-body">

<!-- Navbar -->
<div th:insert="~{_nav-file :: navbar}"></div>

<!-- Body -->
<div class="container text-center">

    <div class="text-center fw-bold fs-1 my-3 ms-md-4 ms-2">
        <p class="mt-3" id="howItWorks" style="color: var(--bs-cyan); text-shadow: 1px 1px #0d8ca8;">
            How it works</p>
    </div>
    <div class="fs-5 fw-normal text-dark ms-md-5 ms-3">
        <p>
            This web application is made for those who admire to improve their workflow. It is
            proved that
            people do their job the best when nothing disturbs them and <b>SCRUM board</b> will help You with that.
        </p>
        <p>
            If You are wondering what the <b>SCRUM</b> is and how its contribution improves
            Your life,
            You might visit <a href="https://www.scrum.org/resources/what-is-scrum" target="_blank">
            SCRUM's official page</a> and learn more about it.
        </p>
    </div>
    <div class="fw-bold fs-2 my-3 ms-md-4 ms-2 text-decoration-underline">
        <p class="mt-3" id="sprint" style="color: var(--bs-cyan);">Sprint</p>
    </div>
    <div class="fs-5 fw-normal text-dark ms-md-5 ms-3">
        <p>
            Whole developing process of any product consists of equally divided spans of time
            - <span class="text-danger">sprints</span>,
            usually a couple of weeks, maximum - a month long, during which all attention is drawn to limited amount of
            tasks.
        </p>
        <p>
            Each sprint has its own <span class="text-danger">backlog</span> that is filled
            with all the planned tasks.
            You can pick whatever task You want to then complete it. <b>Only one task can be picked at a time</b>,
            so no disturbing thoughts will overwhelm You. When the task is ready You should <b>manually</b> mark it as
            that.
        </p>
    </div>
    <div class="fw-bold fs-2 my-3 ms-md-4 ms-2 text-decoration-underline">
        <p class="mt-3" id="boardConfiguration" style="color: var(--bs-cyan);">Board configuration</p>
    </div>
    <div class="fs-5 fw-normal text-dark ms-md-5 ms-3">
        <p>
            Before the work is started the sprint must be configured. In the <b>Project
            page</b> section the project
            can be planned to then started with preliminary configuration of its sprints.
        </p>
        <p>
            In addition <b>Project's backlog</b> can be found there. The part that will hold
            <b>all the planned</b> features of the project.
            Every new well-planned task should be placed here. Afterwards before the start of new sprint tasks must be
            manually picked
            to be placed in the backlog of the <b>sprint</b>.
            Although all uncompleted tasks of previous sprint may be transferred to the next one at Your choice.
        </p>
    </div>
    <div class="fw-bold fs-2 my-3 ms-md-4 ms-2 text-decoration-underline">
        <p class="mt-3" id="taskDescription" style="color: var(--bs-cyan);">Task description</p>
    </div>
    <div class="fs-5 fw-normal text-dark ms-md-5 ms-3">
        <p>
            While creating task in the project's backlog only its description and priority
            must be set. However, when things come to the development
            before any task can be picked its <span class="text-danger">difficulty</span> must be set. It is recommended
            that
            the team set it by themselves based on everyone's opinion. Difficulty then will help to define team's <span
                class="text-danger">velocity</span>
            which defines average amount of tasks completed with different difficulties.
        </p>
        <p>
            When the task is chosen by developer, the requisites will be automatically
            attached to it, however it is possible to invite others to the group of
            responsible for the task as well as developer can join others on any task with the confirmation of those who
            are already busy with it.
            <span class="text-danger">Start</span> time of the task is set automatically as the moment of pressing the
            <b>Start</b> button on the task.
            The same goes with the <b>finish</b> of the task.
        </p>
    </div>
    <div class="fw-bold fs-2 my-3 ms-md-4 ms-2 text-decoration-underline">
        <p class="mt-3" id="noSprintTask" style="color: var(--bs-cyan);">Personal tasks</p>
    </div>
    <div class="fs-5 fw-normal text-dark ms-md-5 ms-3">
        <p>
            If You do not belong to any developers team You still can use helpful part of the
            application in the section
            <span class="text-danger">Personal tasks</span>. It allows You to create Your own backlog of <b>todo
            list</b>
            that can be seen only by You.
        </p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous">
</script>

</body>
</html>