<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sprint Main</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"/>

    <link rel="shortcut icon" href="#">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/myCss.css}">

</head>
<body class="bg-body">

<!-- Navbar -->
<div th:insert="~{_nav-file :: navbar}"></div>

<!-- Body -->
<div class="container-lg px-4">

    <div class="text-start fw-bold fs-2 mb-3 ms-md-2 ms-1 text-decoration-underline" id="goBack">
        <a th:href="@{/api/v1/project/__${project.id}__}" type="button"
           class="btn btn-primary mt-3">
            Return to project
        </a>
    </div>
    <div class="px-2">
        <div class="text-center fw-bold my-md-3 my-2">
            <p class="text-warning pt-2 my-2 fs-1" id="pageTitle" th:text="${project.name} + '\'s Sprints'"
               style="text-shadow: 1px 1px #a67d06;">
            </p>
        </div>
    </div>

    <div class="fs-4 fw-normal text-start text-dark">
        <div class="fs-4 fw-normal text-start text-dark border-bottom border-4 border-warning">
            <p class="fw-bold fs-3 text-center text-info">Current Sprint</p>
            <div class="d-flex gap-4 fw-bold justify-content-center">
                <p class="text-center">Start</p>
                <p class="text-center">Finish</p>
            </div>
            <div class="d-flex gap-4 justify-content-center">
                <p class="text-center" th:text="${currentSprint.start}"></p>
                <p class="text-center" th:text="${currentSprint.finish}"></p>
            </div>

            <div id="accordion" class="mx-2 my-2 fs-6 border-1 border-secondary">
                <div class="card mb-2">
                    <button class="btn btn-link text-decoration-none text-warning fw-semibold card-header"
                            data-bs-toggle="collapse" data-bs-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                        <div id="headingOne">
                            <h5 class="mb-0 text-center">
                                Planned tasks
                            </h5>
                        </div>
                    </button>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
                         th:classappend="${currentBacklog.size()} != 0 ? ' show' : ''">
                        <div class="card-body">
                            <p th:if="${currentBacklog.size()} == 0"
                               class="text-center text-warning fw-medium fs-4 p-2">
                                You have not mapped any tasks to current sprint.
                            </p>
                            <table th:if="${currentBacklog.size()} != 0"
                                   class="table table-hover">
                                <thead class="mb-2">
                                <tr>
                                    <th scope="col" class="text-center">Priority</th>
                                    <th scope="col" class="text-center">Task</th>
                                    <th scope="col" class="text-center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="task : ${currentBacklog}" class="mb-2">
                                    <td class="text-center fw-bold w-10" th:text="${task.priority}"></td>
                                    <td class="text-center w-80" th:text="${task.description}"></td>
                                    <td class="text-center w-10">
                                        <a class="btn btn-outline-dark"
                                           th:href="@{/api/v1/sprint/__${task.id}__}">More</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <button class="btn btn-link text-decoration-none text-info fw-semibold card-header"
                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        <div id="headingTwo">
                            <h5 class="mb-0 text-center">
                                Tasks in progress
                            </h5>
                        </div>
                    </button>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion"
                         th:classappend="${currentInProgress.size()} != 0 ? ' show' : ''">
                        <div class="card-body">
                            <p th:if="${currentInProgress.size()} == 0"
                               class="text-center text-warning fw-medium fs-4 p-2">
                                You have not started any tasks to current sprint.
                            </p>
                            <table th:if="${currentInProgress.size()} != 0"
                                   class="table table-hover">
                                <thead class="mb-2">
                                <tr>
                                    <th scope="col" class="text-center">Priority</th>
                                    <th scope="col" class="text-center">Task</th>
                                    <th scope="col" class="text-center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="task : ${currentInProgress}" class="mb-2">
                                    <td class="text-center fw-bold w-10" th:text="${task.priority}"></td>
                                    <td class="text-center w-80" th:text="${task.description}"></td>
                                    <td class="text-center w-10">
                                        <a class="btn btn-outline-dark"
                                           th:href="@{/api/v1/sprint/__${task.id}__}">More</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <button class="btn btn-link text-decoration-none text-warning fw-semibold card-header"
                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                        <div id="headingTree">
                            <h5 class="mb-0 text-center">
                                Finished tasks
                            </h5>
                        </div>
                    </button>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingTree" data-parent="#accordion"
                         th:classappend="${currentFinished.size()} != 0 ? ' show' : ''">
                        <div class="card-body">
                            <p th:if="${currentFinished.size()} == 0"
                               class="text-center text-warning fw-medium fs-4 p-2">
                                You have not finished any tasks to current sprint.
                            </p>
                            <table th:if="${currentFinished.size()} != 0"
                                   class="table table-hover">
                                <thead class="mb-2">
                                <tr>
                                    <th scope="col" class="text-center">Priority</th>
                                    <th scope="col" class="text-center">Task</th>
                                    <th scope="col" class="text-center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="task : ${currentFinished}" class="mb-2">
                                    <td class="text-center fw-bold w-10" th:text="${task.priority}"></td>
                                    <td class="text-center w-80" th:text="${task.description}"></td>
                                    <td class="text-center w-10">
                                        <a class="btn btn-outline-dark"
                                           th:href="@{/api/v1/sprint/__${task.id}__}">More</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fs-4 fw-normal text-start text-dark">
            <p class="fw-bold fs-3 text-center text-info">Next Sprint</p>
            <div class="d-flex gap-4 fw-bold justify-content-center">
                <p class="text-center">Start</p>
                <p class="text-center">Finish</p>
            </div>
            <div class="d-flex gap-4 justify-content-center">
                <p class="text-center" th:text="${nextSprint.start}"></p>
                <p class="text-center" th:text="${nextSprint.finish}"></p>
            </div>

            <div class="card mb-2 fs-6 fw-normal" id="accordion-next">
                <button class="btn btn-link text-decoration-none text-info fw-semibold card-header"
                        data-bs-toggle="collapse" data-bs-target="#collapseNext"
                        aria-expanded="false" aria-controls="collapseNext">
                    <div id="headingNext">
                        <h5 class="mb-0 text-center">
                            List of tasks
                        </h5>
                    </div>
                </button>
                <div id="collapseNext" class="collapse" aria-labelledby="headingNext" data-parent="#accordion-next">
                    <div class="card-body">
                        <p th:if="${nextTasks} == null"
                           class="text-center text-warning fw-medium fs-4 p-2">
                            You have not planned any tasks yet. Please proceed to mapping them at the project's
                            page.
                        </p>
                        <table th:if="${nextTasks} != null"
                               class="table table-hover">
                            <thead class="mb-2">
                            <tr>
                                <th scope="col" class="text-center">Priority</th>
                                <th scope="col" class="text-center">Task</th>
                                <th scope="col" class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="task : ${nextTasks}" class="mb-2">
                                <td class="text-center fw-bold w-10" th:text="${task.priority}"></td>
                                <td class="text-center w-80" th:text="${task.description}"></td>
                                <td class="text-center w-15">
                                    <a class="btn btn-outline-dark"
                                       th:href="@{/api/v1/sprint/__${task.id}__}">More</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous">
</script>

</body>
</html>