<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sprint configurator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/myCss.css}">
    <script th:src="@{/js/myJs/js}"></script>
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>

</head>
<body class="bg-body">

<!-- Start of NavBar section -->
<nav class="navbar navbar-expand-lg border-bottom border-secondary sticky-top bg-body">
    <div class="container-fluid justify-content-start">
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu"
                aria-controls="sidebarMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="navbar-toggler-icon"></i>
        </button>
        <a class="navbar-brand text-info fw-bold ms-2" th:href="@{/api/v1/main}"
           style="text-shadow: 1px 1px #0d8ca8;">SCRUM Board</a>
        <div class="navbar-text text-start">
            <a role="button" class="btn text-nowrap fw-bold text-warning"
               th:href="@{/api/v1}">Home</a>
        </div>
    </div>
</nav>

<!-- Body section -->
<div class="bd-gutter mt-3 bd-layout" style="padding-left: 0; margin-left: 0; margin-right: 0;">
    <!-- Start of Sidebar -->
    <aside
            id="sidebarMenu"
            class="collapse d-lg-block sidebar bd-sidebar"
    >
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a
                        th:href="@{/api/v1/main}"
                        class="list-group-item list-group-item-action py-2 ripple"
                        aria-current="true"
                >
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i
                    ><span>How it works</span>
                </a>
                <a
                        th:href="'#'"
                        class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas fa-chart-line fa-fw me-3"></i
                ><span>Current sprint</span></a
                >
                <a
                        href="#"
                        class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas fa-globe fa-fw me-3"></i
                ><span>Previous sprints</span></a
                >
                <a
                        th:href="'#'"
                        class="list-group-item list-group-item-action py-2 ripple"
                >
                    <i class="fas fa-chart-area fa-fw me-3"></i
                    ><span>Configure board</span>
                </a>
                <a
                        th:href="@{/api/v1/tasks}"
                        class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas fa-globe fa-fw me-3"></i
                ><span>No-sprint tasks</span></a
                >
            </div>
        </div>
    </aside>

    <main>

    </main>
</div>

</body>
</html>