<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sprint Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/myCss.css}">
    <script th:src="@{/js/myJs/js}"></script>
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>

</head>
<body class="bg-body">

<!-- Navbar -->
<div th:insert="_nav-simple :: navbar"></div>

<!-- Body -->
<div class="bd-gutter mt-3 bd-layout" style="padding-left: 0; margin-left: 0; margin-right: 0;">

    <!-- Sidebar -->
    <div th:insert="_aside-navbar :: aside"></div>

    <main class="bd-main">

    </main>
</div>

</body>
</html>