<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <title>Task details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"/>

    <link rel="shortcut icon" href="#">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/myCss.css}">

</head>
<body class="bg-body">

<!-- Navbar -->
<div th:insert="~{_nav-file :: navbar}"></div>

<!-- Body -->
<div class="container-lg px-4">

    <!-- Confirmation Modal -->
    <div id="deleteConfirmationModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete these task? This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <form th:action="@{/api/v1/task/personal/__${task.id}__}"
                          th:method="delete">
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Task description -->
    <main class="bd-main">
        <div class="text-start fw-bold fs-2 mb-3 ms-md-2 ms-1 text-decoration-underline" id="goBack">
            <a th:href="@{/api/v1/task/personal}" type="button"
               class="btn btn-primary mt-3">
                Return to list
            </a>
        </div>
        <div id="taskDetails">
            <p class="text-center fw-bold fs-2 my-3 ms-md-4 ms-2 text-decoration-underline"
               style="color: var(--bs-cyan);">Task details</p>
        </div>
        <div class="ms-md-5 ms-3">
            <div class="fs-4 fw-normal text-start text-dark">
                <p class="d-inline fw-bold">Id:</p>
                <p class="d-inline" th:text="' ' + ${task.id}"></p>
            </div>
            <div class="fs-4 fw-normal text-start text-dark">
                <p class="d-inline fw-bold">Task status:</p>
                <p class="d-inline" th:if="${task.startedAt} == null" th:text="' Planned task'"></p>
                <p class="d-inline" th:if="${task.startedAt} != null and ${task.finishedAt} == null"
                   th:text="' Task in progress'"></p>
                <p class="d-inline" th:if="${task.finishedAt} != null" th:text="' Finished task'"></p>
            </div>
            <div class="fs-4 fw-normal text-start text-dark">
                <p class="d-inline fw-bold">Description:</p>
                <p class="d-inline" th:text="${task.description}"></p>
            </div>
            <div class="fs-4 fw-normal text-start text-dark">
                <p class="d-inline fw-bold">Priority:</p>
                <p class="d-inline" th:text="${task.priority}"></p>
            </div>
            <div class="fs-4 fw-normal text-start text-dark" th:if="${task.difficulty} != null">
                <p class="d-inline fw-bold">Difficulty:</p>
                <p class="d-inline" th:text="${task.difficulty}"></p>
            </div>
            <div class="fs-4 fw-normal text-start text-dark">
                <p class="d-inline fw-bold">Creation:</p>
                <p class="d-inline" th:text="${task.createdAt}"></p>
            </div>
            <div class="fs-4 fw-normal text-start text-dark" th:if="${task.startedAt} != null">
                <p class="d-inline fw-bold">Start:</p>
                <p class="d-inline" th:text="${task.startedAt}"></p>
            </div>
            <div class="fs-4 fw-normal text-start text-dark" th:if="${task.finishedAt} != null">
                <p class="d-inline fw-bold">Finish:</p>
                <p class="d-inline" th:text="${task.finishedAt}"></p>
            </div>
            <div th:if="${task.difficulty} == null" class="my-3 mx-2">
                <p class="d-inline fw-medium mb-1"
                   th:text="'Please set difficulty before task can be started'"></p>
                <form class="row g-3" th:method="put"
                      th:action="@{/api/v1/task/personal/__${task.id}__}">
                    <div class="col-auto">
                        <select id="taskAddDifficulty"
                                class="form-select ms-2"
                                th:name="'dif'">
                            <option selected value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="8">8</option>
                            <option value="10">10</option>
                            <option value="13">13</option>
                        </select>
                    </div>
                    <input type="text" th:name="request"
                           th:value="'setDifficulty'"
                           class="visually-hidden"/>
                    <div class="col-12 mt-1">
                        <button type="submit" class="btn btn-primary">Set difficulty
                        </button>
                    </div>
                </form>
            </div>
            <form th:if="${task.difficulty} != null and ${task.startedAt} == null"
                  th:action="@{/api/v1/task/personal/__${task.id}__}"
                  th:method="put"
                  class="my-2">
                <input type="text" th:name="request" th:value="'start'"
                       class="visually-hidden"/>
                <button type="submit" class="mx-2 mt-2 btn btn-success">
                    Start task
                </button>
            </form>
            <form th:if="${task.startedAt} != null and ${task.finishedAt} == null"
                  th:action="@{/api/v1/task/personal/__${task.id}__}"
                  th:method="put"
                  class="my-2">
                <input type="text" th:name="request" th:value="'finish'"
                       class="visually-hidden"/>
                <button type="submit" class="mx-2 mt-2 btn btn-warning">
                    Finish task
                </button>
            </form>
            <button type="button" class="mx-2 mt-2 btn btn-danger"
                    data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal"
                    th:if="${task.startedAt} == null or ${task.finishedAt} != null">
                Delete task
            </button>
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous">
</script>

</body>
</html>