<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <title>Task list</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/myCss.css}">
    <script th:src="@{/js/myJs/js}"></script>
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>

</head>
<body class="bg-body">

<!-- Navbar -->
<div th:insert="_nav-simple :: navbar"></div>

<!-- Body -->
<div class="bd-gutter mt-3 bd-layout" style="padding-left: 0; margin-left: 0; margin-right: 0;">

    <!-- Sidebar -->
    <div th:insert="_aside-navbar :: aside"></div>

    <!-- Task addition -->
    <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="addTaskOffcanvas"
         aria-labelledby="addTaskOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="addTaskOffcanvasLabel">Add task</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form class="row g-3" method="post">
                <div class="col-auto">
                    <label for="taskDescription" class="form-label ps-2">Task Description (15 characters
                        minimum)</label>
                    <textarea th:name="'description'" class="form-control" id="taskDescription" maxlength="255"
                              minlength="15"
                              placeholder="Describe task here"
                              style="min-width: 300px"></textarea>
                </div>
                <div class="col-auto">
                    <label for="taskPriority" class="form-label ps-2">Task Priority (lower - more valuable)</label>
                    <select id="taskPriority" class="form-select" th:name="'priority'">
                        <option selected value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="col-auto">
                    <label for="taskDifficulty" class="form-label ps-2">Difficulty (not required)</label>
                    <select id="taskDifficulty" class="form-select" th:name="'difficulty'">
                        <option selected th:default="null" th:placeholder="'Open menu'"></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="13">13</option>
                    </select>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Main -->
    <main class="bd-main">
        <div class="d-grid gap-2 mb-3 px-2 me-lg-4">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#addTaskOffcanvas"
                    aria-controls="addTaskOffcanvas">Add New Task
            </button>
        </div>

        <div id="accordion" class="mx-2 my-2">
            <div class="card mb-2 me-lg-4">
                <button class="btn btn-link text-decoration-none text-info fw-semibold card-header"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne">
                    <div id="headingOne">
                        <h5 class="mb-0 text-center">
                            Planned tasks
                        </h5>
                    </div>
                </button>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p th:if="${backlogTasks.size()} == 0"
                           class="text-center text-warning fw-medium fs-4 p-2">
                            You have not planned any tasks yet. Please proceed to creating one at Your choice.
                        </p>
                        <table th:if="${backlogTasks.size()} != 0"
                               class="table table-hover">
                            <thead class="mb-2">
                            <tr>
                                <th scope="col" class="text-center">Id</th>
                                <th scope="col" class="text-center">Task</th>
                                <th scope="col" class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="task : ${backlogTasks}" class="mb-2">
                                <td class="text-center fw-bold w-15" th:text="${task.id}"></td>
                                <td class="text-center w-65" th:text="${task.description}"></td>
                                <td class="text-center w-20">
                                    <a class="btn btn-outline-dark"
                                       th:href="@{/api/v1/task/personal/{id}(id=${task.id})}">More</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mb-2 me-lg-4">
                <button class="btn btn-link text-decoration-none text-warning fw-semibold card-header"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                    <div id="headingTwo">
                        <h5 class="mb-0 text-center">
                            Tasks in progress
                        </h5>
                    </div>
                </button>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p th:if="${inProgressTasks.size()} == 0"
                           class="text-center text-info fw-medium fs-4 p-2">
                            You have not started any tasks yet.
                        </p>
                        <table th:if="${inProgressTasks.size()} != 0"
                               class="table table-hover">
                            <thead class="mb-2">
                            <tr>
                                <th scope="col" class="text-center">Id</th>
                                <th scope="col" class="text-center">Task</th>
                                <th scope="col" class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="task : ${inProgressTasks}" class="mb-2">
                                <td class="text-center fw-bold w-15" th:text="${task.id}"></td>
                                <td class="text-center w-65" th:text="${task.description}"></td>
                                <td class="text-center w-20">
                                    <a class="btn btn-outline-dark"
                                       th:href="@{/api/v1/task/personal/{id}(id=${task.id})}">More</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mb-2 me-lg-4">
                <button class="btn btn-link text-decoration-none text-info fw-semibold card-header"
                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                    <div id="headingThree">
                        <h5 class="mb-0 text-center">
                            Finished Tasks
                        </h5>
                    </div>
                </button>
                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <p th:if="${finishedTasks.size()} == 0"
                           class="text-center text-warning fw-medium fs-4 p-2">
                            You have not finished any tasks yet.
                        </p>
                        <table th:if="${finishedTasks.size()} != 0"
                               class="table table-hover">
                            <thead class="mb-2 text-center">
                            <tr>
                                <th scope="col" class="text-center">Id</th>
                                <th scope="col" class="text-center">Task</th>
                                <th scope="col" class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="task : ${finishedTasks}" class="mb-2">
                                <td class="text-center fw-bold w-15" th:text="${task.id}"></td>
                                <td class="text-center w-65" th:text="${task.description}"></td>
                                <td class="text-center w-20">
                                    <a class="btn btn-outline-dark"
                                       th:href="@{/api/v1/task/personal/{id}(id=${task.id})}">More</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

</body>
</html>